/* Geral */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #343a40;
}

/* Navegação */
#navbar-example3 {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
}

.nav-link {
    color: #007bff;
    text-decoration: none;
}

.nav-link:hover {
    color: #0056b3;
    background-color: #e9ecef;
}

/* Conteúdo */
.container {
    max-width: 1200px;
}

#navbar-example3 {
    max-height: 800px; 
    overflow-y: auto; 
    padding-right: 15px; 
}


.scrollspy-example-2 {
    max-height: 800px;
    max-width: 1200px;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: white;
}

/* Cartões */
.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card-title {
    color: #007bff;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.card-text {
    font-size: 0.9em;
    color: #555;
}

/* Outros estilos */
p {
    line-height: 1.6;
    text-align: justify;
    text-indent: 2em;
    align-items: center;
}

img {
    border-radius: 8px;
}

/* FOOTER */

footer {
    padding: 40px 0;
    border-top: 1px solid #dee2e6;
    color: #6c757d;
    height: 60px;
}
footer a {
    color: #6c757d;
    text-decoration: none;
}
footer a:hover {
    color: #343a40;
    text-decoration: underline;
}
.footer-logo {
    margin: 0 15px;
}
.footer-logo img {
    border-radius: 10px;
    transition: transform 0.3s;
}
.footer-logo img:hover {
    transform: scale(1.1);
}
.developed-by {
    font-weight: bold;
}
@media (max-width: 768px) {
    .text-left, .text-right {
        text-align: center !important;
    }
    .mx-auto {
        margin-top: 20px;
    }
}

#item-2-1 img, 
#item-2-2 img, 
#item-2-3 img, 
#item-2-4 img, 
#item-2-5 img, 
#item-2-6 img, 
#item-2-7 img, 
#item-2-8 img, 
#item-2-9 img {
    display: block; /* Faz a imagem se comportar como um bloco */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    width: 100%; /* As imagens vão ocupar toda a largura do elemento pai */
    height: auto; /* Mantém a proporção original da imagem */
    max-width: 400px; /* Define uma largura máxima para as imagens */
    max-height: 300px; /* Define uma altura máxima para as imagens */
    object-fit: contain; /* Ajusta a imagem para caber completamente no contêiner */
}

button.ouvir-conteudo-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

button.ouvir-conteudo-btn:hover {
    background-color: #0056b3;
}

button.ouvir-conteudo-btn:focus {
    outline: 2px solid #ffcc00; /* Destaque para acessibilidade */
}